*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.header_1{
  margin-left:1000px;
}
.header_1 li{
  display: inline-block;
  padding:10px;
}
.header_1 li p{
  border-radius: 20px;
  background-color:yellowgreen;
  padding:10px;
}

.header_2{
  display: flex;
}
.header_2 .logo{
  margin-left:100px;
}
.header_2 input{
  position: relative;
  top:30px;
  height:40px;
  width:300px;
  left:500px;
}
.search img{
  height:30px;
  color:blue;
  width:30px;
  background-color:red;
  position: relative;
  left:520px;
  top:40px;
}
.menu{
  display:flex;
  background-color: #ccc;
}
.menu-2 img{
  width:450px;
  padding:30px;
 
}
.menu-2 .menu2_2 img{
  width:135px;
  height:150px;
  padding: 10px;
  position: relative;
  right:-20px;
}